@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    "Noto Sans KR",
    "Noto Sans CJK KR",
    "Noto Sans",
    system-ui,
    sans-serif;

  font-size: 14px; /* 800x400 기준 권장 */
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "Noto Sans Mono",
    "Noto Mono",
    monospace;
}
